.login-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1517976547714-720226b864c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px 0;
}

.form > input, .form>button{
    width: 60%;
    padding: 10px;
    margin: 20px;
    font-size: 1rem;
    border-radius: 5px;
}

.form > input:focus{
    outline: none;
}

.red-border{
    border: 2px solid red;
}

.green-border{
    border: 2px solid green;
}

.login-container > p, .register-container>p{
    font-weight: bold;
    color: white;
}

.login-container > p > a, .register-container>p > a{
    color: skyblue;
    font-weight: bold;
}
